@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Styles */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  cursor: default;
}

.website-bg {
  background-color: #fff;
}

/* ScrollBar  */

::-webkit-scrollbar {
  width: 2px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f7e2ed;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(162.85deg, #ff1c30 50033.95%, #e5173d 61613.56%);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e5173d;
}

header {
  box-shadow: 0px 1px 0px #e5e9f2 !important;
}

@media only screen and (max-width: 768px) {
  .bg-cta-graphic {
    background-image: url("../assets/ContactUsCTAMobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-cta-graphic > span {
    display: none !important;
  }
  .bg-hero-graphic > span {
    display: none !important;
  }
  .bg-hero-graphic {
    background-image: url("../assets/HeroSectionMobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-services-graphic > span {
    display: none !important;
  }
  .bg-services-graphic {
    background-image: url("../assets/Services/ServicesBgMobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.testimonial {
  display: flex !important;
}

.slick-dots {
  display: none !important;
}

.slick-arrow {
  z-index: 10 !important;
}

.slick-next::before {
  content: none !important;
}

.slick-prev::before {
  content: none !important;
}

input:focus {
  --tw-ring-color: transparent !important;
}

/* CSS for World Map Tooltips */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}
.contain {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}
.contain .map {
  height: 100%;
  width: 100%;
}
.all-tooltip {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.tooltip-content {
  position: absolute;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 20px #00000020;
  padding: 15px;
  border-radius: 8px;
  width: 90vw;
  max-width: 300px;
  opacity: 0;
  pointer-events: none;
  /* left: -50%; */
  z-index: 2;
}
.tooltip-content .arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  border: 10px solid transparent;
  border-bottom-color: #fff;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%, -100%) rotate(180deg);
}
.pin {
  position: absolute;
  content: "";
  top: 50%;
  left: 80%;
  border-radius: 50%;
  cursor: pointer;
}
.pin:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: puls-effect 1s ease infinite;
}
.tooltip.active .tooltip-content {
  opacity: 1;
  pointer-events: all;
  display: block;
}

.tooltip-1 {
  position: absolute;
  top: 43.5%;
  right: 29.5%;
}

@media only screen and (max-width: 1040px) {
  .tooltip-1 {
    position: absolute;
    top: 38%;
    right: 29.5%;
  }
}

@media only screen and (max-width: 940px) {
  .tooltip-1 {
    position: absolute;
    top: 34%;
    right: 29.5%;
  }
}

@media only screen and (max-width: 840px) {
  .tooltip-1 {
    position: absolute;
    top: 32%;
    right: 29.5%;
  }
}

@media only screen and (max-width: 790px) {
  .tooltip-1 {
    position: absolute;
    top: 30%;
    right: 29.5%;
  }
}
.navigation-bar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 20;
}

.is-hidden {
  opacity: 0;
  -webkit-transform: translate(0, -60px);
  -webkit-transition: -webkit-transform 0.2s, background 0.3s, color 0.3s,
    opacity 0 0.3s;
}

.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.2s, background 0.3s, color 0.3s;
}

#uploadResumeMUI {
  opacity: 0 !important;
}
